# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.

version: '3.4'

services:
  banksimulator:
    image: banksimulator
    container_name: 'banksimulator_container'
    build:
      context: .
      dockerfile: src/BankSimulator/Dockerfile
    ports:
      - 5050:80
    environment:
      - ASPNETCORE_URLS=http://+:80
  
  paymentgatewayapi:
    image: paymentgatewayapi
    container_name: 'paymentgatewayapi_container'
    build:
      context: .
      dockerfile: src/PaymentGateway.API/Dockerfile
    ports:
      - 5000:80
      - 5001:443
    depends_on:
      - postgresdb
    environment:
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password123
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - Endpoints__Bank=http://banksimulator:80/api/FakeBank
    volumes:
      - ~/.aspnet/https:/https:ro

  postgresdb: 
    image: postgres
    container_name: 'postgres_container'
    environment:
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=payment
    volumes:
      - pgdata:/var/lib/postgresql/data 
    ports:
      - 5432:5432 

  pgadmin:
    image: dpage/pgadmin4
    container_name: 'pgadmin4_container'
    depends_on:
      - postgresdb
    ports:
      - 5454:5454
    environment:
      - PGADMIN_DEFAULT_EMAIL=mahfuzali@example.com
      - PGADMIN_DEFAULT_PASSWORD=postgres
      - PGADMIN_LISTEN_PORT=5454
    restart: unless-stopped

volumes:
  pgdata:
