name: .NET Core

on:
  push:
    branches: 
      - '**'
    tags:
      - 'v*.*.*'
  pull_request:
    branches: 
      - '**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Output Run ID and Run Number
      run: |
        echo ${{ github.run_id }}
        echo ${{ github.run_number }}

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - name: Generate coverage report
      # run: reportgenerator -reports:**/coverage.cobertura.xml -targetdir:Report -reporttypes:HtmlInline_AzurePipelines;Cobertura
      uses: danielpalme/ReportGenerator-GitHub-Action@4.8.1
      with:
        reports: "**/coverage*cobertura.xml"
        targetdir: "Report"
        reporttypes: "HtmlInline;Cobertura"
        tag: '${{ github.run_number }}_${{ github.run_id }}'
      if: github.event_name == 'push' && github.repository_owner == 'mahfuzali'       # Don't run on forks

    - name: Publish coverage report
      uses: 5monkeys/cobertura-action@master
      with:
        path: Report/Cobertura.xml
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        minimum_coverage: 75
      if: github.event_name == 'push' && github.repository_owner == 'mahfuzali'       # Don't run on forks



    - name: Generate coverage report
      run: |
        dotnet test -c Release --no-build /p:CollectCoverage=true /p:CoverletOutput="${{ github.workspace }}/coverage/lcov.info" /p:CoverletOutputFormat=lcov
        printenv
      working-directory: ${{ github.workspace }}

    - name: Publish coverage report 
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ${{ github.workspace }}/coverage/lcov.info

    - name: Publish
      run: dotnet publish --no-build -c Release 


    - name: Create bank simulator artifact
      uses: actions/upload-artifact@v2
      with:
        name: banksimulator-dotnet-${{github.run_number}}
        path: ${{ github.workspace }}/src/BankSimulator/bin/Release/net5.0/publish/

    - name: Create payment-gateway artifact
      uses: actions/upload-artifact@v2
      with:
        name: paymentgateway-dotnet-${{github.run_number}}
        path: ${{ github.workspace }}/src/PaymentGateway.API/bin/Release/net5.0/publish/


