name: .NET Core

on:
  push:
    branches: 
      - '**'
    tags:
      - 'v*.*.*'
  pull_request:
    branches: 
      - '**'


env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Output Run ID and Run Number
      run: |
        echo ${{ github.run_id }}
        echo ${{ github.run_number }}

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - name: Generate Coverage Report
      run: dotnet test --no-build -f ${{ matrix.dotnet.framework }} --settings coverlet.runsettings
      working-directory: ${{ github.workspace }}
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: "!**/.nuget/packages/**/*.*"
        flags: ${{ runner.os }},${{ matrix.dotnet.framework }}
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Publish
      run: dotnet publish --no-build -c Release 

    - name: Create bank simulator artifact
      uses: actions/upload-artifact@v2
      with:
        name: banksimulator-dotnet-${{github.run_number}}
        path: ${{ github.workspace }}/src/BankSimulator/bin/Release/net5.0/publish/

    - name: Create payment-gateway artifact
      uses: actions/upload-artifact@v2
      with:
        name: paymentgateway-dotnet-${{github.run_number}}
        path: ${{ github.workspace }}/src/PaymentGateway.API/bin/Release/net5.0/publish/

    - name: Create the package
      run: |
        dotnet pack --configuration Release ${{github.workspace}}/src/PaymentGateway.API/PaymentGateway.API.csproj -o ${{ github.workspace }}/staging
        dotnet pack --configuration Release ${{github.workspace}}/src/BankSimulator/BankSimulator.csproj -o ${{ github.workspace }}/staging

    - name: Publish build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: packages
        path: staging


