name: .NET Core

on:
  push:
    branches: 
      - '**'
    tags:
      - 'v*.*.*'
  pull_request:
    branches: 
      - [ develop, master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Output Run ID and Run Number
      run: |
        echo ${{ github.run_id }}
        echo ${{ github.run_number }}

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - name: Generate Coverage Report
      run: |
        dotnet test -c Release --no-build /p:CollectCoverage=true /p:CoverletOutput="${{ github.workspace }}/coverage/lcov.info" /p:CoverletOutputFormat=lcov
        printenv
      working-directory: ${{ github.workspace }}

    # - name: Publish Coverage Report 
    #  uses: coverallsapp/github-action@master
    #  with:
    #    github-token: ${{ secrets.GITHUB_TOKEN }}
    #    path-to-lcov: ${{ github.workspace }}/coverage/lcov.info

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Publish
      run: dotnet publish --no-build -c Release 

    - name: Create bank simulator artifact
      uses: actions/upload-artifact@v2
      with:
        name: banksimulator-dotnet-${{github.run_number}}
        path: ${{ github.workspace }}/src/BankSimulator/bin/Release/net5.0/publish/

    - name: Create payment-gateway artifact
      uses: actions/upload-artifact@v2
      with:
        name: paymentgateway-dotnet-${{github.run_number}}
        path: ${{ github.workspace }}/src/PaymentGateway.API/bin/Release/net5.0/publish/

    - name: Create the package
      run: |
        dotnet pack --configuration Release ${{github.workspace}}/src/PaymentGateway.API/PaymentGateway.API.csproj -o ${{ github.workspace }}/staging
        dotnet pack --configuration Release ${{github.workspace}}/src/BankSimulator/BankSimulator.csproj -o ${{ github.workspace }}/staging

    - name: Publish build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: packages
        path: staging


