name: .NET Core

on:
  push:
    branches: 
      - '**'
    tags:
      - 'v*.*.*'
  pull_request:
    branches: 
      - '**'


env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
    
    build-and-test:
        name: Debug Build & Test
        runs-on: ${{ matrix.os }}
        strategy:
          matrix:
            os: [ubuntu-latest]
            dotnet: [ { sdk: "5.0", framework: "net5.0" } ]

        steps:
          - uses: actions/checkout@v2
          - uses: actions/cache@v2.1.3
            with:
              path: ${{ env.NUGET_PACKAGES }}
              key: ${{ runner.os }}-nuget-${{ matrix.dotnet.sdk }}-${{ hashFiles('**/packages.lock.json') }}
              restore-keys: |
                ${{ runner.os }}-nuget-${{ matrix.dotnet.sdk }}-
                ${{ runner.os }}-nuget-

          - name: Setup .NET Core ${{ matrix.dotnet.sdk }} SDK
            uses: actions/setup-dotnet@v1.7.2
            with:
              dotnet-version: ${{ matrix.dotnet.sdk }}

          - name: Restore
            run: dotnet restore --locked-mode

          - name: Build
            run: dotnet build --no-restore -f ${{ matrix.dotnet.framework }}

          - name: Test
            run: dotnet test --no-build -f ${{ matrix.dotnet.framework }} --settings coverlet.runsettings

          - name: Upload coverage to Codecov
            uses: codecov/codecov-action@v1
            with:
              file: "!**/.nuget/packages/**/*.*"
              flags: ${{ runner.os }},${{ matrix.dotnet.framework }}